* {
    margin: 0;
    padding: 0;
}
.block {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.some {
    margin-left: 1499px;
    animation: myAnim 2s infinite alternate;
}
@keyframes myAnim {
    10% {
        transform: scale(1.5);
    }
    20% {
        transform: scale(2);
    }
    30% {
        transform: scale(3);
    }
    40% {
        transform: scale(4);
    }
    50% {
        transform: scale(5);
    }
    60% {
        transform: scale(6);
    }
    70% {
        transform: scale(7);
    }
    80% {
        transform: scale(8);
    }
    90% {
        transform: scale(9);
    }
    100% {
        transform: scale(10);
    }
}